<div class="trigger-cards">
  <div *ngFor="let trigger of triggers" class="trigger-card" [ngClass]="{'selected': selectedTrigger === trigger.value}" (click)="selectTrigger(trigger)">
    <mat-card>
      <mat-card-title>{{ trigger.name }}</mat-card-title>
    </mat-card>
  </div>
</div>

<div [ngSwitch]="selectedTrigger">
  <div *ngSwitchCase="'welcome_subscriber'">
    <form class="form-container" [formGroup]="welcomeForm" (ngSubmit)="onSubmitWelcomeForm()">
      <mat-form-field>
        <input matInput type="text" placeholder="Message" formControlName="message" required>
      </mat-form-field>
      <mat-form-field *ngIf="mailingLists" appearance="fill">
        <mat-label>Mailing List</mat-label>
        <mat-select formControlName="mailinglist">
          <mat-option *ngFor="let list of mailingLists" [value]="list.value">{{list.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>
  <div *ngSwitchCase="'specific_date'">
    <form class="form-container" [formGroup]="specificDateForm" (ngSubmit)="onSubmitSpecificDateForm()">
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field *ngIf="mailingLists" appearance="fill">
        <mat-label>Mailing List</mat-label>
        <mat-select formControlName="mailinglist">
          <mat-option *ngFor="let list of mailingLists" [value]="list.value">{{list.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>
  <div *ngSwitchCase="'subscriber_added_date'">
    <form class="form-container" [formGroup]="AddedSubDateForm" (ngSubmit)="onSubmitAddedSubDateForm()">
      <mat-form-field>
        <input matInput type="number" placeholder="Days After" formControlName="daysAfter" required>
      </mat-form-field>
      <mat-form-field *ngIf="mailingLists" appearance="fill">
        <mat-label>Mailing List</mat-label>
        <mat-select formControlName="mailinglist">
          <mat-option *ngFor="let list of mailingLists" [value]="list.value">{{list.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>
</div>
